BROWSER_RUNNER_DOUBAO_ADAPTER_VERIFIED=false
PLAYWRIGHT_BROWSERS_PATH=/opt/yonaris-browser-runner/ms-playwright
BROWSER_EGRESS_PROXY_URL=http://127.0.0.1:17777
BROWSER_BROKER_SOCKET=/run/yonaris-browser-broker/broker.sock
BROWSER_BROKER_STATE_DIR=/var/lib/yonaris-browser-broker
BROWSER_BROKER_EVIDENCE_DIR=/var/lib/yonaris-browser-evidence
BROWSER_BROKER_PEERCRED_HELPER=/usr/local/libexec/yonaris-browser-peercred
BROWSER_BROKER_UID=@@BROWSER_UID@@
BROWSER_BROKER_RPC_GID=@@RPC_GID@@
BROWSER_BROKER_ALLOWED_CONTROL_UID=@@CONTROL_UID@@
BROWSER_RUNNER_DOUBAO_DOM_FINGERPRINT=
BROWSER_RUNNER_DOUBAO_AUTHENTICATED_SELECTOR=
BROWSER_RUNNER_DOUBAO_NEW_CONVERSATION_SELECTOR=
BROWSER_RUNNER_DOUBAO_USER_MESSAGE_SELECTOR=
BROWSER_RUNNER_DOUBAO_ANSWER_SELECTOR=
BROWSER_RUNNER_DOUBAO_COMPLETION_SELECTOR=
BROWSER_RUNNER_DOUBAO_SEARCH_OFF_SELECTOR=
BROWSER_RUNNER_DOUBAO_SEARCH_USED_SELECTOR=
BROWSER_RUNNER_DOUBAO_SEARCH_NOT_USED_SELECTOR=
